################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/QtPMbrowser/v16
/QtPMBrowser/debug
/QtPMBrowser/release
/.qmake.stash
ui_*.h
QtPMbrowser.pro.user.459d117
GeneratedFiles/
Makefile
moc_*
/VorlageCopyrigth.txt
*.aps
QtPMbrowser.aps
*.ibw
/PMbrowserSetup/Release
*.user
/PMbrowserSetup/Debug
/.vs/
doc/_build/
doc/doxy_html/
QtPMbrowser/release/
QtPMbrowser/QtPMbrowser.pro.user.e316ca4
build-QtPMbrowser-Desktop_Qt_5_15_2_clang_64bit-Debug/
build-QtPMbrowser-Desktop_Qt_5_15_2_clang_64bit-Release/
.DS_Store
*.pro.user
QtPMbrowser/.qmake.stash
QtPMbrowser/Makefile.Debug
QtPMbrowser/Makefile.Release
/UpgradeLog.htm
