################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/QtPMbrowser/v16
/QtPMBrowser/debug
/QtPMBrowser/release
/.qmake.stash
ui_*.h
QtPMbrowser.pro.user.459d117
GeneratedFiles/
Makefile
moc_*
/VorlageCopyrigth.txt
*.aps
QtPMbrowser.aps
*.ibw
/PMbrowserSetup/Release
*.user
/PMbrowserSetup/Debug
