################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/QtPMbrowser/v16
/QtPMBrowser/debug
/QtPMBrowser/release
/.qmake.stash
ui_*.h
GeneratedFiles/
Makefile
moc_*
/VorlageCopyrigth.txt
*.aps
QtPMbrowser.aps
*.ibw
/PMbrowserSetup/Release
*.user
/PMbrowserSetup/Debug
/.vs/
doc/_build/
doc/doxy_html/
QtPMbrowser/release/
.DS_Store
out
QtPMbrowser/.qmake.stash
.DS_Store
*.pro.user
QtPMbrowser/QtPMbrowser.pro.user
QtPMbrowser/.qmake.stash
QtPMbrowser/Makefile.Debug
QtPMbrowser/Makefile.Release
/UpgradeLog.htm
out/
CMakeSettings.json
doc/conf.py
QtPMbrowser/QtPMbrowser.rc
