[Desktop Entry]
Version=1.0
Type=Application
Name=PM browser
Comment=Browse PM dat files
Terminal=false
Categories=Science
Exec=QtPMbrowser %u
#MimeType=application/octet-stream
Icon=halaszovich-pmbrowser
